<meta charset="UTF-8" />
<link rel="icon" href="/static/favicon_io/favicon-32x32.png" sizes="32x32" type="image/png" />
<link rel="icon" href="/static/favicon_io/favicon-16x16.png" sizes="16x16" type="image/png" />

<link rel="apple-touch-icon" href="/static/favicon_io/apple-touch-icon.png" />
<link rel="icon" href="/static/favicon_io/android-chrome-192x192.png" sizes="192x192" type="image/png" />
<link rel="icon" href="static/favicon_io/android-chrome-512x512.png" sizes="512x512" type="image/png" />
<link rel="icon" href="/static/favicon_io/favicon.ico" type="image/x-icon" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="color-scheme" content="light dark">
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.fluid.classless.min.css"
>

<title>{{ .Title }}</title>
